<!-- intro -->
<div class="top">
	<img src="../images/logo-kokua-cards@3x.png" width="208">
	<section class="who-are-we">
		<p class="intro body-padding">
			Our greeting cards support progressive social, environmental, and humanitarian&nbsp;causes.
		</p>
	</section>
	<section>
		<div id="interested">
			<p>Leave us your email and we'll contact you when we&nbsp;launch!</p>
			<button class="sign-up"><a href="#sign-up-wrapper">Sign up</a></button>
		</div>
	</section>
</div>

<!-- how it works-->
<section id="how-it-works-wrapper">
	<p>kō.kua (Hawaiian) verb, noun: mutual help to others</p>
	<img src="../images/rule@3x.png" width="53">
	<h2>How it works</h2>
	<ul class="how-it-works-list body-padding">
		<li>
			<span id="step-1">1</span> Artists design cards for a cause they are passionate about.
		</li>
		<li>
			<span>2</span> Kokua Cards reaches out to nonprofits that matches the artist's passion and we start the creative process!
		</li>
		<li>
			<span id="step-3">3</span> Both the artist and nonprofit receive 10% of our sales&nbsp;proceeds
		</li>
	</ul>
</section>

<!-- sign up -->
<section id="sign-up-wrapper">
	<h2>Sign up</h2>

	<p class="body-padding">Please sign up to receive our latest updates and deals for our very first greeting card collection! Mahalo!</p>

	<form class="body-padding" accept-charset="UTF-8" id="newsletter-signup" action="https://zapier.com/hooks/catch/576243/ugcqew/" method="POST">
		<input type="hidden" name="utf8" value="✓">
		<div>
			<div id="row">I am a<span id="grammar-article">n</span>&nbsp;
				<div id="user-type" class="input-field">
					<select name="type">
						<option value="individual">individual</option>
						<option value="artist">artist</option>
						<option value="non profit">non-profit</option>
					</select>
				</div>
			</div>
			<span id="individual-cta">interested in supporting non-profits and artists. Let me know when I can buy a card.</span>
			<span id="non-profit-cta">interested in working with Kokua Cards.</span>
			<span id="artist-cta">interested in designing cards for non-profits.</span>
		</div>
		<div class="input-field col s12">
			<input name="email" id="email" type="email" class="validate">
			<label for="email">Email</label>
		</div>

		<button class="sign-up" type="submit"><img src="../images/arrow-right@3x.png" width="16"></button>
	</form>
</section>