<h1 id="title"><span id="title-kokua">kokua<span> <span id="title-cards">cards</span></h1>
<section class="who-are-we">
	<p class="intro body-padding">Kokua Cards is the world's first B-Corp certified greeting card company that pledges to donate 10% of sales proceeds to
		nonprofits and artists.</p>
</section>
<section>
	<p class="kokua-means">Kokua means "mutual assistance" in Hawaiian and we believe that when we assist each other, we all benefit.
	</p>
	<p>We harness the power of business to help our non-profit partners make positive changes to their communities. Our greeting
		cards help support progressive social, environmental, and humanitarian causes.</p>
	<div id="interested">
		<p>Are you interested? Please leave us your email and we'll contact you when we launch!</p>
		<button class="sign-up">Sign up!</button>
	</div>
</section>

<section id="how-it-works-wrapper">
	<h2>How it works</h2>
	<ul class="how-it-works-list body-padding">
		<li>
			<span>1</span> We ask emerging artists if they would like to design cards for a cause they are passionate about.
		</li>
		<li>
			<span>2</span> Kokua Cards reaches out to nonprofits that matches the artist's passion and we start the creative process!
		</li>
		<li>
			<span>3</span> We upload the artist's and nonprofit's bio on our website and both will receive 10% of our sales proceeds
			every quarter!
		</li>
	</ul>
</section>
<section id="sign-up-wrapper">
	<h2>Sign up</h2>

	<p class="body-padding">Please sign up to receive our latest updates and deals for our very first greeting card collection! Mahalo!</p>

	<form class="body-padding" accept-charset="UTF-8" id="newsletter-signup" action="https://formkeep.com/f/aceb3664c74f" method="POST">
		<input type="hidden" name="utf8" value="✓">
		<div>
			<div id="row">I am a<span id="grammar-article">n</span>&nbsp;
				<div id="user-type" class="input-field">
					<select>
						<option value="individual">individual</option>
						<option value="non profit">non-profit</option>
					</select>
				</div>
			</div>
			interested in supporting nonprofits and independent artists.
		</div>
		<div class="input-field col s12">
			<input id="email" type="email" class="validate">
			<label for="email">Email</label>
		</div>

		<button class="sign-up" type="submit">Submit</button>
	</form>
</section>